body, html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.white-container {
  text-align: center;
  height: 85vh;
  min-height: 30em;
  padding: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  font-size: 100px;
}

p {
  margin: 1em 0;
  line-height: 34px;
  font-size: 40px;
}

.gallery {
  height: 100vh;
  min-height: 30em;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}

.gallery-img {
  width: 50vw;
  min-width: 25em;
  max-width: 35em;
  height: 90vh;
  object-fit: cover;
  padding: 0 2em;
}